.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}


/* contact */
.contact{
    font-size: 2.5em;
    color: #454445;
    margin: 0 0 0.8em 0;
    line-height: 1.5em;
    text-transform: capitalize;
    font-family: inherit;
}

/* footer part */
.footer {
    padding: 10px;
    background-color: #454545;
    color: white;
    text-align: center;
 }  

.carousel-caption{
    bottom:0px;
    top:45%;
    font-size: 50%;
}


/*Navbar style*/
.dropbtn {
    padding: 15px;
    color:#9d9d9d;
    background-color: #222;
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
    color:#fff;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {background-color: #f1f1f1} */

.dropdown:hover .dropdown-content {
    display: block;
}

/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */
 /* Signup page */
 